body{
	background-color: skyblue;
}
}
table{
	border-width: 2px;
	cellspacing:5px;
	cellpadding: 5px;
	border-color: whitesmoke;
}
#container{
	height: 50vh;
	width: 50vh;
	background-color: white;
}
/*.bgimage{
	background-image: url('./images/image4.jpeg');
	height: 630px;
	width: 1300px;
}*/